body {
  margin: 0;
  font-family: Arial;
  color: white;
}

.fire-bg {
  background: linear-gradient(135deg, #1a0000, #330000, #660000);
  min-height: 100vh;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: rgba(0,0,0,0.7);
  border: 2px solid orange;
  border-radius: 10px;
  text-align: center;
}

.title {
  color: orange;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  background: orange;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.container {
  text-align: center;
  padding: 50px;
}

.card {
  background: rgba(255, 69, 0, 0.2);
  margin: 15px auto;
  padding: 20px;
  width: 200px;
  border: 2px solid orange;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: orange;
  color: black;
}

.error {
  color: red;
}
